/* Reset básico */
body, h1, h2, p {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilo do corpo */
body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f9;
    color: #333;
    display: flex;
}

/* Sidebar */
.sidebar {
    width: 150px;
    background-color: #004d40;
    color: #fff;
    height: 50px;
    position: absolute;
    top: 10px;
    left: -15px;
    border-radius: 10px;
    padding: 0px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
}

.sidebar h2 {
    text-align: left;
    margin-bottom: 20px;
}

.sidebar ul {
    list-style: none;
    
}

.sidebar ul li a {
    color: #fff;
    text-decoration: none;
    display: block;
}

.sidebar:hover {
    background-color: #013d33;

}

/* Conteúdo principal */
.main-content {
    margin-left: center; /* Largura da sidebar */
    padding: 20px;
    flex-grow: 1;
}

/* Container */
.container {
    max-width: 1000px;
    margin: 40px auto;
    padding: 20px;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

/* Formulário */
label {
    display: block;
    margin-bottom: 8px;
}

input, select, textarea {
    width: 100%;
    padding: 10px;
    outline-color: rgb(62, 62, 248);
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    padding: 10px 20px;
    background-color: #004d40;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #013a31;
}

/* Tabela */
#tabela-cooperados {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

#tabela-cooperados th, #tabela-cooperados td {
    text-align: left;
    padding: 12px;
    border-bottom: 1px solid #ddd;
    font-size: 0.95rem;
}

#tabela-cooperados th {
    background-color: #f4f4f9;
    color: #004d40;
    font-weight: 500;
}

#tabela-cooperados tbody tr:hover {
    background-color: #f9f9f9;
}

/* Rodapé */
.footer {
    text-align: center;
    padding: 10px;
    background-color: #f4f4f9;
    margin-top: 20px;
}
