footer{
    background-color: #f4f4f9;
    padding: 15px;
    width: 100%;
    bottom: 0;
    left: 0;
    text-align: center;
    font-size: 0.9rem;
    color: #333;
    box-shadow: 0 -1px 10px rgba(0, 0, 0, 0.1); 
    
}