body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f9;
    color: #333;
    display: flex;
}
.sidebar {
    width: 150px;
    background-color: #004d40;
    color: #fff;
    height: 50px;
    position: absolute;
    top: 10px;
    left: -10px;
    border-radius: 10px;
    padding: 0px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
}

.sidebar ul {
    list-style: none;
    padding: 0;
    width: 100%;
}

.sidebar ul li {
    text-align: center;
    font-size: 15px;
    width: 100%;
    
}

.sidebar ul li a {
    color: #fff;
    text-decoration: none;
    display: block;
}

.sidebar:hover {
    background-color: #0e0042;
    color: #ffffff;
}

#Carregamento{
    position: absolute;
    width: 100%;
    height: 100vh;
    background-color: #a8a8a82f;
    z-index: 999;
    display: none;
 
}

#Carregamento h3{
    position: absolute;
    margin-left: 45%;
    margin-right: 75%;
    margin-top: 20%;
}

.main-content {
    margin-left: center; /* Largura da sidebar */
    padding: 20px;
    flex-grow: 1;
}


.container {
    max-width: 600px;
    margin: 40px auto;
    padding: 20px;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

label {
    display: block;
    margin-bottom: 8px;
}

input, select, textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    padding: 10px 20px;
    background-color: #004d40;
    color: #fdfdfd;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #0e0042;
}

