:root{
    --primary-color: #004d40;
    --secondary-color: #f5f5f5;
    --text-color: #333333;
}

#Contéudo-exibição
{
    position: absolute;
    background-color: #cecece79;
    width: 100%;
    height: 110vh;
    z-index: 999;
    display: none;
}

#Contéudo-exbição-container{
    position: absolute;
    margin-left: 30%;
    margin-top: 10%;
    width: 600px;
    height: 400px;
    border-radius: 10px;
    background-color: #ffffff;
    box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.1);
    padding: 25px;
}

#Contéudo-exbição-container h2
{
    border-bottom: 1px solid rgb(119, 119, 119);
    color: var(--primary-color);
    font-size: 1.5rem;
}

/*Data*/
#Contéudo-exbição-container  p:nth-child(1) { 
    position: absolute;
    left: 10%;
    top: 6%;
    color: rgb(118, 0, 148);
}

/*observçõa*/
#Contéudo-exbição-container > p:nth-child(2) {
    position: absolute;
    left: 78%;
    top: 6%;
    color: rgb(0, 136, 11);
}

/*Status*/
#Contéudo-exbição-container p:nth-child(3) {
    position: absolute;
    left: 10%;
    top: 20%;
    color: red;
}

#Contéudo-exbição-container h3
{
   margin-top: 15px;
   color: var(--primary-color);
}