<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Atualizar Status</title>
  <link rel="stylesheet" href="/static/css/Atualizar/Atualizar.css"/>
  <link rel="stylesheet" href="/static/css/index/Exibi.css">
  <script type="module" src="/static/js/Atualizar/Atualizar.js"></script>
</head>
<body>
  <div class="sidebar">   
    <ul> 
      <li><a href="/index.html">⇦ voltar</a></li>    
    </ul>
  </div>
      <div id="Carregamento" >
        <h3>Carregando...</h3>
      </div> 

  <div class="main-content">
    <main class="container">
      <h2>Atualizar Status de Pendências</h2>

      <form id="form-buscar">
        <label for="buscar-nome">Nome do Cooperado:</label>
        <input type="text" id="buscar-nome" placeholder="Digite o nome do cooperado" />
        <button type="submit" id="buscar-nome">Buscar</button>
      </form>

      <table id="tabela-cooperados">
        <thead>
          <tr>
            <th>Matricula</th>
            <th>Nome</th>
            <th>Tipo</th>
            <th>Data</th>
            <th>Ações</th>
          </tr>
        </thead>
        <tbody id="Tabela-apresentacao">
          <!-- Linhas geradas dinamicamente pelo JS -->
           
        </tbody>
      </table>
    </main>

    <footer class="footer">
      <p>&copy; 2024 Cadastro de Pessoas. Todos os direitos reservados.</p>
    </footer>
  </div>
</body>
</html>
